* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  background-color: rgb(36, 13, 13);
  color: azure;
  /* position: fixed; */
  /* z-index: 999; */
}

.nav--logo {
  margin-left: 4vw;
  font-weight: 900;
  font-size: xx-large;
}

.nav--content {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(36, 13, 13);
  color: azure;
  font-size: larger;
}

/* .nav--btn {
  height: ;
} */

.nav--btn {
  margin-right: 4vw;
  background-color: black;
  color: cyan;
  border: 2px solid cyan;
  height: 50%;
  border-radius: 20px;
  width: 100px;
}

.main--container {
  height: 100vh;
  width: 100vw;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main--header {
  height: 10vh;
  width: 80%;
  background-color: rgb(226, 196, 196);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.main--content {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}
img {
  height: 250px;
  width: 400px;
  border-radius: 20px;
}

img:hover {
  transition: 0.5s;
  filter: grayscale();
}
